.btn-blue {
	background-color: #D0E8F2;
	padding: 15px 20px;
	border-radius: 4px;
	color: black;
	font-weight: bold;
	font-family: 'inherit;', sans-serif;
}

.btn-blue:hover{
	background-color:#D82148;
	color: white;
}